{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
<link rel="canonical" href="{{url}}" />
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = window.isMobile ? [[320,50]] : [[728,90],[970,30]];
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
pbjs.que.push(function() {
  var pageAds = { //   adUnitID: "position"
              dfpAdPositionTop: "Top",
              dfpAdPositionMiddle: "Top2",
              dfpAdPositionBottom: "Top2"
  };

  for(i in pageAds){
      var bidSlot = new Object();
      bidSlot.code = i;
      bidSlot.sizes = DFPSlotSizes;
      bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
      if(typeof bidSlot.bids != "undefined"){
          if(typeof pbjs.addAdUnits != "undefined"){
              pbjs.addAdUnits(bidSlot);
          }
          window.bidSlots[i] = bidSlot;
      }
  }
});
googletag.cmd.push(function () {
  var DFP_sitepage = "DMN/interactives";
  var dfpSizeMapping = googletag.sizeMapping().
          addSize([992, 480], [[728,90],[970,30]]).
          addSize([0, 0], [[320,50]]).
          build();

/*
  var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top")
                  .addService(googletag.pubads());
*/
  /*
  var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  /*
  var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  googletag.pubads().enableAsyncRendering();
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();

});
</script>
{%endblock%}


{%block content%}
<div id="progress-bar__wrapper">
  <span id="progress-bar"></span>
</div>
<section id="content-header">
	{{img.jpg('logo', 'Logo for Focus on us: Dallas 2019, by The Dallas Morning News', sizes='(min-width: 900px), 800px, 95vw')}}
</section>
<!-- end contentHeader -->

<section class="content-well clearfix">

	<header id="story-head">
		<h1 aria-hidden="true">Focus on us: Dallas 2019, by The Dallas Morning News</h1>
		<h2>build <span class="branded-type">awareness.</span> shine <span class="branded-type">light.</span> impact <span class="branded-type">lives.</span></h2>
	</header>
		<!-- end storyHead -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <p class="intro">What issues are impacting us, all of us? Directly, indirectly, emotionally, civically? Issues that can stir emotion and have the potential to divide — <a href="#st-header">sex trafficking</a>, <a href="#teaching-header">teaching kids in poverty</a> and <a href="#civic-header">civic engagement</a>. Issues that aren’t always easy to talk about, but talking about them is exactly what we’re going to do — with a goal to understand and to unite.</p>

    <p class="intro">Our series, <span class="branded-type">Focus On Us</span> is going to tackle the issues that deserve awareness, need understanding and can ultimately change policy, impact lives and make a stronger Dallas for all of us.</p>

  </section>
    <!-- end content-well -->
    <div class="image-block full-block focus__leader" id="st-header">
      <div class="leader__text">
        <h3 class="vignette__head">sex trafficking</h3>
      </div>
    </div>
    <!-- start content-well -->
  <section class="content-well">

    <div class="focus__block" id="focus__st">
      <div class="focus__vignette">
        <h5>build <span class="branded-type">awareness.</span></h5>
        <h5>increase <span class="branded-type">pressure.</span></h5>
        <h5>rescue <span class="branded-type">lives.</span></h5>
        <p>You see them sometimes in the shadows, sometimes in the streets, sometimes on the sidewalks in parts of the city many of us don’t go. Sometimes, too often, we don’t see them at all. Across our city and region, thousands of people are trapped in sexual slavery, sold for their bodies in circumstances they cannot escape. We need to face their struggle and to answer their powerlessness with our power.</p>

        <p>We can expose the truth about the sex trade. We can punish the traffickers for stealing someone’s life and selling it. We can bring the victims back into freedom and fullness.</p>
      </div>

      <div class="focus__links">
        <h5>Protect with us</h5>
        <p>Read our latest commentary on sex trafficking:</p>
        <ul class="links-list"></ul>

        <a href="https://www.dallasnews.com/opinion/editorials/collection/worlds-oldest-profession-meets-new-thinking-sex-trafficking" class="collection__link">Read more</a>
      </div>
    </div>

  </section>
    <!-- end content-well -->
    <div class="image-block full-block focus__leader" id="teaching-header">
      <div class="leader__text">
        <h3 class="vignette__head">teaching in poverty</h3>
      </div>
    </div>
    <!-- start content-well -->
  <section class="content-well">

    <div class="focus__block focus--no-rule" id="focus__teaching">
      <div class="focus__vignette">
        <h5>build <span class="branded-type">awareness.</span></h5>
        <h5>open <span class="branded-type">doors.</span></h5>
        <h5>grow <span class="branded-type">lives.</span></h5>
        <p>There are few challenges in education as great as teaching impoverished children. Many come to school hungry and will wake up hungry again the next day. But we face no more important job than ensuring these children are educated.</p>

        <p>We are getting better at understanding how to do this: high-quality pre-kindergarten, paying our best teachers the best salaries, encouraging them to work in our toughest schools and increasing the state’s support for the classroom. The work is just beginning, but it is the best work we can do.</p>
      </div>

      <div class="focus__links">
        <h5>Learn with us</h5>
        <p>Read our latest commentary on teaching in poverty:</p>
        <ul class="links-list"></ul>

        <a href="https://www.dallasnews.com/opinion/editorials/collection/texas-schools-are-not-meeting-the-needs-of-low-income-students-or-the-economy" class="collection__link">Read more</a>
      </div>
    </div>


  </section>
    <!-- end content-well -->
    <div class="image-block full-block focus__leader" id="civic-header">
      <div class="leader__text">
        <h3 class="vignette__head">civic engagement</h3>
      </div>
    </div>
    <!-- start content-well -->
  <section class="content-well">

    <div class="focus__block" id="focus__civic">
      <div class="focus__vignette">
        <h5>build <span class="branded-type">awareness.</span></h5>
        <h5>find <span class="branded-type">opportunity.</span></h5>
        <h5>change <span class="branded-type">lives.</span></h5>
        <p>Let’s talk about where we live, Dallas. Let’s talk about how important it is to us. Here’s the hard truth. We say it’s important, but when it comes to voting in local elections, Dallas is dead last among America’s 50 largest cities. Dead last. We can do better, and it starts with understanding the place where we live.</p>

        <p>The issues, the concerns, the things that shape Dallas: those are the things you need to know. So you can understand. So you can act.</p>
      </div>

      <div class="focus__links">
        <h5>Engage with us</h5>
        <p>Read our latest commentary on civic engagement:</p>
        <ul class="links-list"></ul>

        <a href="https://www.dallasnews.com/opinion/commentary/collection/going-take-get-people-dallas-vote" class="collection__link">Read more</a>
      </div>
    </div>

</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/opinion/commentary/';
</script>
{%endblock%}
