{%extends 'base.html'%} {%import 'partials/img.html' as img%} {%block custom_meta%}
<meta content="Opinion,Commentary,Focus on Us,Teaching in Poverty,Sex Trafficking,Civic Engagement,education,poverty,politics,local politics,local elections,interactives,dallas,dallas news,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta content="Focus on Us: Teaching in Poverty" name="description" />
<title>Focus on Us: Dallas 2019 | Teaching in Poverty | Dallas News</title>
<meta property="og:url" content="https://interactives.dallasnews.com/2019/focus-on-us/teaching-in-poverty.html" />
<meta property="og:title" content="Focus on Us: Teaching in Poverty" />
<meta property="og:description" content="There are few challenges in education as great as teaching impoverished children. But we face no more important job than ensuring these children are educated." name="description" />
<meta property="og:image" content="https://interactives.dallasnews.com/2019/focus-on-us/images/_poverty-share.jpg" />
<meta property="og:image:height" content="630" />
<meta property="og:image:width" content="1200" />
<meta property="og:type" content="article" />
<meta property="article:author" content="Dallas Morning News Editorial staff" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@DMNOpinion" />
<meta name="twitter:creator" content="" />

<meta name="liveFyreID" content="24994909975" />

<script type="application/ld+json">
    { "@context": "http://schema.org", "@type": "NewsArticle", "headline": "Focus on Us: Teaching in Poverty", "url": "https://interactives.dallasnews.com/2019/focus-on-us/teaching-in-poverty.html", "thumbnailUrl": "https://interactives.dallasnews.com/2019/focus-on-us/images/_poverty-share.jpg", "dateCreated": "2019-05-31T00:00:00Z", "articleSection": "Opinion", "creator": ["Dallas Morning News Editorial staff"], "keywords": ["Opinion","Commentary","Focus on Us","Teaching in Poverty","Sex Trafficking","Civic Engagement","education","poverty","politics","local politics","local elections","interactives","dallas","dallas news","dfw news","dallas newspaper","dallas morning news","dallas morning news newspaper"] }
</script>

<meta property="og:keywords" content="Opinion,Commentary,Focus on Us,Teaching in Poverty,Sex Trafficking,Civic Engagement,education,poverty,politics,local politics,local elections,interactives,dallas,dallas news,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" />

<meta name="news_keywords" content="Opinion,Commentary,Focus on Us,Teaching in Poverty,Sex Trafficking,Civic Engagement,education,poverty,politics,local politics,local elections,interactives,dallas,dallas news,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" /> {%endblock%} {%block custom_head%}
<link rel="canonical" href="https://interactives.dallasnews.com/2019/focus-on-us/teaching-in-poverty.html" /> {%endblock%} {%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
    DFP_networkId = "11222444";
    var DFPSlotSizes = window.isMobile ? [
        [320, 50]
    ] : [
        [728, 90],
        [970, 30]
    ];
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    var pbjs = pbjs || {};
    pbjs.que = pbjs.que || [];
    pbjs.que.push(function() {
        var pageAds = { //   adUnitID: "position"
            dfpAdPositionTop: "Top",
            dfpAdPositionMiddle: "Top2",
            dfpAdPositionBottom: "Top2"
        };

        for (i in pageAds) {
            var bidSlot = new Object();
            bidSlot.code = i;
            bidSlot.sizes = DFPSlotSizes;
            bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
            if (typeof bidSlot.bids != "undefined") {
                if (typeof pbjs.addAdUnits != "undefined") {
                    pbjs.addAdUnits(bidSlot);
                }
                window.bidSlots[i] = bidSlot;
            }
        }
    });
    googletag.cmd.push(function() {
        var DFP_sitepage = "DMN/interactives";
        var dfpSizeMapping = googletag.sizeMapping().
        addSize([992, 480], [
            [728, 90],
            [970, 30]
        ]).
        addSize([0, 0], [
            [320, 50]
        ]).
        build();

        /*
          var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
                          .defineSizeMapping(dfpSizeMapping)
                          .setTargeting("position", "Top")
                          .addService(googletag.pubads());
        */
        /*
        var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                        .defineSizeMapping(dfpSizeMapping)
                        .setTargeting("position", "Top2")
                        .addService(googletag.pubads());
        */

        /*
        var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                        .defineSizeMapping(dfpSizeMapping)
                        .setTargeting("position", "Top2")
                        .addService(googletag.pubads());
        */

        googletag.pubads().enableAsyncRendering();
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();

    });
</script>
{%endblock%} {%block content%}
<div id="progress-bar__wrapper">
    <span id="progress-bar"></span>
</div>

<!-- start logo -->
<section id="content-header">
    {{img.jpg('logo', 'Logo for Focus on us: Dallas 2019, by The Dallas Morning News', class='logo--small', sizes='(min-width: 900px), 600px, 95vw')}}
</section>
<!-- end logo -->


    <!-- start content-well -->
    <section class="content-well clearfix">
      <div class="image-block">
        {{img.jpg('focuson-teaching', 'A row of empty desks in a classroom.', class='border', sizes='(min-width: 1475px), 1400px, 95vw')}}
      </div>
        <header id="story-head">
            <h1 aria-hidden="true">Focus on us: Dallas 2019, by The Dallas Morning News</h1>
            <h4 class="main__head">teaching in poverty</h4>
            <h2>build <span class="branded-type">awareness.</span> open <span class="branded-type">doors.</span> grow <span class="branded-type">lives.</span></h2>
        </header>
        <!-- end storyHead -->

        <div class="shareComments shareCommentsTop">
            <ul id="share-bar1"></ul>
        </div>
        <!-- end shareComments -->

        <p>There are few challenges in education as great as teaching impoverished children. Many come to school hungry and will wake up hungry again the next day. But we face no more important job than ensuring these children are educated.</p>
        <p>We are getting better at understanding how to do this: high-quality pre-kindergarten, paying our best teachers the best salaries, encouraging them to work in our toughest schools and increasing the state’s support for the classroom. The work is just beginning, but it is the best work we can do.</p>

    </section>


    <div class="focus__block no-grid" id="focus__teaching">
        <div class="focus__links">
            <h5>Learn with us</h5>
            <p>Read our latest commentary on teaching in poverty:</p>
            <ul class="links-list"></ul>
            <a href="https://www.dallasnews.com/opinion/editorials/collection/texas-schools-are-not-meeting-the-needs-of-low-income-students-or-the-economy" class="collection__link">Read more</a>
          </div>
    </div>
    <!-- end content-well -->

    <!-- more content -->
    <div class="issue-links">
      <h5>View other issues</h5>

      <div class="content__row">
        <div class="content__column">
          <a href="civic-engagement.html">
            <img src="images/focuson-civic-600.jpg" alt="A group of people stand in a circle with their hands joined in the middle." />
            <h5>Civic Engagement</h5>
            <p>The issues, the concerns, the things that shape Dallas: those are the things you need to know. So you can understand. So you can act.</p>
          </a>
        </div>
        <div class="content__column">
          <a href="sex-trafficking.html">
            <img src="images/focuson-st-600.jpg" alt="A young girl sits with her head in her hands." />
            <h5>Sex Trafficking</h5>
            <p>We can expose the truth about the sex trade. We can punish the traffickers for stealing someone’s life and selling it. We can bring the victims back into freedom and fullness.</p>
          </a>
        </div>
      </div>
    </div>
    <!-- end more content -->


    {%endblock%} {%block custom_foot%}
    <script type="text/javascript"></script>
    {%endblock%} {%block custom_social_meta%}
    <script type="text/javascript">
        var storyTitle = "There are few challenges in education as great as teaching impoverished children. But we face no more important job than ensuring these children are educated.", // headline in tweet card
            storyURL = "https://interactives.dallasnews.com/2019/focus-on-us/teaching-in-poverty.html",
            leadText = "There are few challenges in education as great as teaching impoverished children. But we face no more important job than ensuring these children are educated.", //description in tweet card
            storyIMG = "https://interactives.dallasnews.com/2019/focus-on-us/images/_poverty-share.jpg",
            storyAuthor = "Dallas Morning News Editorial staff",
            twitterTag = "DMNOpinion",
            comments = true,
            share = true;
        OAS_sitepage = 'www.dallasnews.com/opinion/commentary/';
    </script>
    {%endblock%}
